.Aside
    background: white
    display: flex
    justify-content: flex-start
    align-items: center
    flex-direction: column

.Aside__loading
    justify-content: center
.Aside__github
    width: 40px

.Aside p
    font-size: 20px

.Aside ul 
    list-style none
