.Home
    background: #2d2a2a
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.Nav__buttons
    width: 800px
    display: flex

.Nav__buttons a
    text-decoration: none
    color #2d2a2a

.button
    width: 100px
    height: 40px
    margin-right: 10px
    display: flex
    flex-direction: column
    border-radius: 5px 5px 0 0 
    background: #d5d0d0
    align-items: center
    justify-content: center

.Nav__buttons-search div:hover, .Nav__buttons-repos div:hover
    opacity 0.5

.Main
    width: 800px
    height 600px
    background: white
    display: flex
    flex-direction: column